<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.MANAGE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".util.BookApplication"
        android:allowBackup="true"
        android:icon="@mipmap/app_icon"
        android:roundIcon="@mipmap/app_icon_round"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Start.Splash"
        android:enableOnBackInvokedCallback="true"
        tools:targetApi="tiramisu">
        <activity
            android:name=".MainActivity"
            android:configChanges="screenSize|screenLayout|smallestScreenSize|locale|density"
            android:windowSoftInputMode="adjustResize"
            android:exported="true"
            android:theme="@style/Theme.Start.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>